<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form action="/job" method="POST">
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
